.main-welcom-content-wraper{
    /* margin-top: 95px; */
    margin-top: 27%;
    display: flex;
    flex-direction: column;
}

.company-title{
    flex: 0 0 auto;
}

.company-title h1{
    width: 332px;
    height: 116px;
    font-family: Libre Franklin Light;
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.company-title span{
    position: relative;
    z-index: 1;
}

.company-title span:nth-child(2)::before{
    content: '';
    position: absolute;
    width: 195px;
    height: 44px;
    opacity: 0.39;
    background-image: linear-gradient(to right, #16c2b8, rgba(22, 194, 184, 0));
    z-index: -1;
    top: 10px;
    left: -5px;

}

.company-description{
    margin-top: 15px;

    font-family: Libre Franklin Light;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.7px;
    color: #ffffff;
}

.create-account-btn{
    margin-top: 29px;
    flex: 0 0 65px;
    width: 218px;
    background-color: #16c2b8;
    display: flex;

    justify-content: center;
    align-items: center;

    font-family: Libre Franklin SemiBold;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}


.authorize-suggestion{
    margin-top: 11px;

    font-family: Libre Franklin Light;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 0.6px;
    color: #ffffff;
}

.authorize-suggestion a {
    text-decoration: none;
    color: #16c2b8;
}

@media (max-width: 970px){
    .main-welcom-content-wraper{
        /* margin-top: 101px; */
        margin-top: 26.8%;
        align-items: center;
        text-align: center;
        /* z-index: 2; */
    }
    
    .company-title h1 {
        /* width: 332px; */
        width: 241px;
        height: 88px;
        font-size: 36px;
        letter-spacing: 0.9px;
    }

    .company-title span:nth-child(2)::before{
        /* width: 195px; */
        width: 139px;
        background-image: linear-gradient(to right, #16c2b8, rgb(46, 133, 170));
        height: 44px;
        top: 0px;
        left: -3px;
    }

    .company-description{
        width: 247px;
        height: 44px;
        margin-top: 7px;
    }
}